body{
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: row;
}

.company-name{
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    padding-top: 50px;
    text-align: center;
    margin-left: -30px;
    font-size: 19px;
}

.top-menu{
    display: flex;
    flex-direction: row;
    list-style: none; 
    margin: 0; 
    padding-left: 0;
    height: 50px; 
    width: 100%;
    justify-content: center;
    padding-top: 50px;
    margin-left: 50px;
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top-menu>li>a:hover{
    color: coral;
}

.top-menu>li{
    width: 25%;
}

.top-menu>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.private-security{
    background-image: url(../img/blur.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}

.private-security>h1{
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-bottom: 20px;
}

.info{
    color: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.button-price{
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 45px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}

.button-price:hover{
    background: #2e59e5;
color: white;
transform: translateY(-3px);
}

.btn{
    width: 100%;
    text-align: center;
}

